*{
  margin: 0px;
  padding: 0px;
}
.mynav{
  width: 100%;
  height: 50px;
  background-color: rgb(60, 85, 250);
  /* background-color: rgb(97, 117, 245); */
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.mynav p{
  font-size:30px;
  color: white;
  font-weight: bolder;
  
}
.mynav input{
  width: 750px;
  font-size: 20px;
  background-color: white;
  padding: 5px;
  border-radius: 15px;
  height: 35px;
  outline: none;
}
.user{
  width: 100px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}
.user:hover{
border: 1px solid white;
margin: 2px;
 cursor: pointer;
 text-decoration: none;
 color: white
}
.mynav i{
  margin: 5px;
}
.kart{
  display: flex;
}
.kart i{
  font-size: 30px;
  color: red;
  margin: 5px;
}
.mysearch{
  display: flex;
  justify-content: space-around;
}
.mysearch i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: orange;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
}
.nav-cart-count{
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-10px ;
  margin-left: -15px;
  border-radius: 10px;
  font-size: 10px;
  background: red;
  color: white;
}
.nav2{
  width: 100%;
  height: 40px;
  margin: 5px;
  background-color: rgb(227, 225, 225);

}
.navlist ul{
  display: flex;
  justify-content: space-between;
  margin: 7px;

}
.navlist ul li{
  margin: 10px;
font-size: 15px;
color: black;
list-style: none;
font-weight: bolder;
position: relative;
}
.sublist{
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.sublist i{
  margin-top: 13px;
}
.myitems-1{
  position: absolute;
  width: 150px;
  background-color: rgb(235, 233, 230);
  margin-top: 10px;
  display: none;
}
.myitems-1 ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.myitems-1 ul li{
  list-style: none;
  font-size: 14px;
  color: black;
  font-weight: lighter;
  cursor: pointer;
  margin: 5px;
}
.myitems-2{
  position: absolute;
  width: 150px;
  background-color: rgb(235, 233, 230);
  margin-top: 10px;
  display: none;
}
.myitems-2 ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.myitems-2 ul li{
  list-style: none;
  font-size: 14px;
  color: black;
  font-weight: lighter;
  cursor: pointer;
  margin: 5px;
}
.myitems-3{
  position: absolute;
  width: 150px;
  background-color: rgb(235, 233, 230);
  margin-top: 10px;
  display: none;
}
.myitems-3 ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.myitems-3 ul li{
  list-style: none;
  font-size: 14px;
  color: black;
  font-weight: lighter;
  cursor: pointer;
  margin: 5px;
}
.myitems-4{
  position: absolute;
  width: 150px;
  background-color: rgb(235, 233, 230);
  margin-top: 10px;
  display: none;
}
.myitems-4 ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.myitems-4 ul li{
  list-style: none;
  font-size: 14px;
  color: black;
  font-weight: lighter;
  cursor: pointer;
  margin: 5px;
}
.myitems-5{
  position: absolute;
  width: 150px;
  background-color: rgb(235, 233, 230);
  margin-top: 10px;
  display: none;
}
.myitems-5 ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.myitems-5 ul li{
  list-style: none;
  font-size: 14px;
  color: black;
  font-weight: lighter;
  cursor: pointer;
  margin: 5px;
}
.myitems-6{
  position: absolute;
  width: 150px;
  background-color: rgb(235, 233, 230);
  margin-top: 10px;
  display: none;
}
.myitems-6 ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.myitems-6 ul li{
  list-style: none;
  font-size: 14px;
  color: black;
  font-weight: lighter;
  cursor: pointer;
  margin: 5px;
}
.c-1:hover .myitems-1{
display: block;
color: rgb(61, 61, 249);
cursor: pointer;
}
.c-2:hover .myitems-2{
  display: block;
  color: rgb(61, 61, 249);
  cursor: pointer;
  }
  .c-3:hover .myitems-3{
    display: block;
    color: rgb(61, 61, 249);
    cursor: pointer;
    }
    .c-4:hover .myitems-4{
      display: block;
      color: rgb(61, 61, 249);
      cursor: pointer;
      }
      .c-5:hover .myitems-5{
        display: block;
        color: rgb(61, 61, 249);
        cursor: pointer;
        }
        .c-6:hover .myitems-6{
          display: block;
          color: rgb(61, 61, 249);
          cursor: pointer;
          }
.myfoot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  height: 250px;
  background-color: black;
  color: white;
  margin: 5px;
}
.myfoot-1{
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin-top: -150px;
  position: relative;
  margin-left:20px ;
  cursor: pointer;

}
.myfoot-2{
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin-top: -150px;
  position: relative;
  margin-right: 20px;
  cursor: pointer;

}
.myborder{
  border: 1px solid white;
  margin: 0px 30px;
  height: 200px;
  
}
.myul{
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 2px;
  cursor: pointer;
}
.sublist li:hover{
  color:rgb(57, 57, 237);
}
.sublist li:active{
  color:rgb(57, 57, 237);
}
.slider {
  position: relative;
  width: 100%;
  height: 207px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  cursor: pointer;
  background-color: black;
 
}

.image {
  width: 1410px;
  height: 200px;
  border-radius: 10px;

}
.right-arrow {
  position: absolute;
  top: 40%;
  right: 10px;
  font-size: 3rem;
  color: #fef6f6;
  user-select: none;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  position: absolute;
  top: 40%;
  left: 10px;
  font-size: 3rem;
  color: #fef6f6;
  user-select: none;
  z-index: 10;
  cursor: pointer;
}
.slide {
  opacity: 0;
  transition-duration: 1s ;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}
.myphones{
  margin: 50px;
  width: 1420px;
  height: 250px;
  display: flex;
  justify-content:space-between;
  border-radius: 10px;
  border: 1px solid black;
}
.phoneimage{
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid black;
  position: relative;
  border-radius: 10px;
  background-size: cover;
  cursor: pointer;
}
.newphone{
  margin: 10px;
  font-weight: bolder;
}
.model{
  margin-top: -2px;
  display: flex;
  justify-content: center;
  font-weight: bolder;
}
.specialoffer{
  width: 100%;
  height: 250px;
  margin: 20px;
  cursor: pointer;
  border-radius: 10px;
}
.Ebanner{
  width: 90%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  margin: 50px;
  
}
.bannerimg{
  width: 50%;
  height: 250px;
  border-radius: 10px;
  margin: 50px;
  background-size: cover;
  cursor: pointer;
}
.myform{
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-title{
  font-size: 25px;
  font-weight: bolder;
  margin: 20px;
  
}
.form-title-2{
  font-size: 20px;
  font-weight: bolder;
}
.mainform{
  border: 2px solid black;
  padding: 30px;
  border-radius: 20px;
}
.myinput{
  width: 400px;
  height: 30px;
  font-size: 17px;
  border-radius: 10px;
  color: black;
 padding: 2px;
}
.mybutton{
  font-size: 17px;
  width: 90px;
  height: 30px;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(61, 61, 250);
  color: white;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}
.mycart{
  display: flex;
  justify-content: space-between;
  background-color: rgb(223, 220, 220);
}
.left{
  display: flex;
  width: 60%;
  height: 180px;
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
.right{
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}
.cartimage{
width: 170px;
height: 175px;
background-size: cover;
border-radius: 10px;
cursor: pointer;
}
.cart-description{
 margin-left: 50%;
}
.myimg{
  display: flex;
  margin-left: 40px;

}
.moredetails{
  margin: 5px;
}
.errorpage{
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.errorpage h1{
  margin: 10px;
  color: rgb(14, 135, 248);
}
.errorpage h3{
  color:rgb(14, 135, 248);
}
.errorpage button{
  padding: 15px;
  border-radius: 20px;
  background-color: white;
  cursor: pointer;
}
.errorpage button:hover{
background-color:rgb(14, 135, 248);
}
